@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

:root{
    --clr-gold: #DCC48E;
    --clr-beige: #EAEFD3;
    --clr-purple: #27233A;
}

body{
    background-color: var(--clr-purple);
    color: var(--clr-beige);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--clr-beige);
    color: var(--clr-purple);
    border-bottom-left-radius:58px ;
    border-bottom-right-radius: 58px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    text-align: center;
}


.instrucciones{
    margin-bottom: 23px;
}

.contenedorMarcador{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.marcador{
    background-color: var(--clr-gold);
    width: 120px;
    padding: 16px 32px;
    border-radius: 16px;
    position: relative;
    display: flex;
    align-items: center; /* D:f y algin-items center provocan que se centre verticalmente todos los items en este caso (necesitabamos centrar los nombres "jugador - computadora" */
    color: var(--clr-purple);
    font-weight: 800;
    justify-content: center;
    font-size: 20px;
}

.marcador .nombre {
    position: absolute;
    color: var(--clr-beige);
    background-color: var(--clr-purple);
    line-height: 1;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid var(--clr-gold);
}

.marcador .nombreJugador{
    display: flex;
    align-items: center;
    right: 90%;
}

.marcador .nombreComputadora{
    display: flex;
    align-items: center;
    left: 90%;
}

.marcador .puntos{
    font-size: 18px;
}

.elegiArma{
    margin: 18px 0;
}

.elegiArma h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px;
}

.armas{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.arma{
    font-size: 32px;
    background-color: var(--clr-beige);
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.mensaje{
    margin-bottom: 32px;
    line-height: 1.8; /* Altura de la casilla */
}

.mensaje .eleccion{
    color: var(--clr-purple);
    background-color: var(--clr-gold);
    border-radius: 6px;
    padding-inline: 6px;
}

.btn{
    border: 0;
    line-height: 1;
    background-color: var(--clr-beige);
    color: var(--clr-purple);
    font-size: 16px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

.disabled{
    display: none;
}